.DS_Store
.texpadtmp/
*.swp
*.agdai
*.~undo-tree~

# LaTeX temporary files
*.aux
*.log
*.toc

*.xdv
*.fls

live.*

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg


.lia.cache

.vscode/

*.vo
*.vos
*.vok
*.glob

# Proof/
# html/
dist-newstyle/
\#*\#
.\#*

.projectile

_site/
node_modules/

src_htmls/
html/
submission.zip
html_generator/src/_data/agdaModules.js
